.antrenori-content{
    position: relative;
}

/* .sliding-text{
    overflow: hidden;
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sliding-text p {
    color: white;
    font-size: 3vw;
    white-space: nowrap;
    margin: 0;
    animation: slideToRightDesktop 10s infinite linear;
}

.grid-container{
    background-color: white;
    display: grid;
    
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.grid-container img{
    width:100%;
    height:100%;

    border: 0.3vw white solid;

    box-sizing: border-box;
    transition: border 0.2s
}

.hovered{
    border: 0.7vw red solid !important;
    z-index: 1;
} */

.carousel
{
    /* height:100px; */
    width:70%;
    margin-left:15%;
    margin-right:15%;
    margin-top:40px;
    margin-bottom: 40px;
    background-color: black;
}

.slider
{
    margin:0 20px;
    position: relative;
}

.slider img
{
    width:100%;
    border-radius: 10px;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slider:hover .overlay
{
    opacity: 0.5;
}

.video-player{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.video-player iframe{
    width: 100%;
    aspect-ratio: 1.70/1;

}

/* video{
    width: 100%;
} */

.backButton{
    height: 15%;
    width: 10%;
    margin-left: 3%;
    border-radius: 5px;
    background-color: red;
    color: black;
    border: 1px solid red;

    position: absolute;
    z-index: 1;
    left: 87%;
    top: -17%;
  
    font-size: 2vw;
    white-space: nowrap;
  
    transition-property: background-color, color;
    transition-duration: 0.2s;
  }

  /* .backButton{
    height: 15%;
    width: 14.5%;
    margin-left: 3%;
    border-radius: 5px;
    background-color: red;
    color: black;
    border: 1px solid red;

    position: absolute;
    z-index: 1;
    right: -14.5%;
    bottom: 0;
  
    font-size: 2vw;
    white-space: nowrap;
  
    transition-property: background-color, color;
    transition-duration: 0.2s;
  } */

  .backButton:hover{
    cursor: pointer;
    background-color: transparent;
    color:  red;
  }

  .coach-info{
    width: 90%;
    margin-left: 5%;
    margin-left: 5%;
    margin-top: 10px;
    /* height: 600px; */
    background-color: transparent;
    display: flex;
    background-image: url('../images/background-pattern.png');
    background-size: 15%;
    position: relative;
    animation: fadeIn 0.3s;
}

.banner{
    width: 30%;
}

.images{
    width: 70%;
    position: relative;
    /* height: 600px; */
}

.group{
    position:absolute;
    width: 70%;
    bottom: 20px;;
    right: 15%;
    /* height: auto; */
}

.group.visible{
    animation: fadeIn 1s ease-in;
}

.cool-picture1{
    width: 40%;
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 1;
    /* animation: fadeIn 2s ease-in; */
}

.cool-picture2{
    width: 40%;
    position: absolute;
    bottom: 0;
    right: -10px;
    z-index: 1;
    /* animation: fadeIn 2s ease-in; */
}

.cool-picture1.visible, .cool-picture2.visible{
    animation: fadeIn 1.5s ease-in;
}
  
.hidden{
    opacity: 0;
}

.coach-info p{
    color: white;
}

@keyframes slideToRightDesktop {
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-165%);
    }  
}

@keyframes slideToRightMobile { 
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-137%);
    }  
}

@media screen and (max-width: 770px){

    .sliding-text p{
        font-size: 5vw;
        animation: slideToRightMobile linear infinite 5s;
    }

    .grid-container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .video-player{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;    }

    .backButton{
        position: absolute;
        top: 0;
        left: 70%;
        /* right: 20%; */
        font-size: 3vw;
        margin: 0;
        width: 20%;
        height: 40px;
    }

    .coach-info{
        flex-direction: column;
    }

    .banner{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px;
    }

    .images{
        height: calc(100vw * 0.8 * 4/7);
        width: 100%;
    }

    .group{
        width: 80%;
        bottom: 20px;;
        right: 20px;
        /* height: auto; */
    }

    .cool-picture1{
        top: -20px;
    }

    .cool-picture2{
        bottom: 20px;
    }

    .carousel{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
}

@keyframes fadeIn {
    
    from{
        opacity: 0
    }   
    
    to{
        opacity: 1;
    }
}